@import "tailwindcss";

@theme {
  --font-playfair: 'Playfair Display', serif;
  --font-poppins: 'Poppins', sans-serif;
  --color-terracota: #C4775B;
  --color-terracota-light: #E8A88C;
  --color-crema: #FDF6F0;
  --color-rosa-viejo: #C9A396;
  --color-rosa-suave: #F2DDD5;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
